@use "../../global/forward" as fw;

.c-label {
    font-size: 2rem;
    font-weight: 500;
    line-height: calc(33 / 20);
    @include fw.mq("sp") {
        font-size: 2rem;
    }
}

.p-form .p-form__item:nth-of-type(3) .c-label {
    letter-spacing: -0.05em;
    @include fw.mq("sp") {
        letter-spacing: 0;
    }
}