@use "../../global/forward" as fw;

.c-select {
    width: 100%;
    padding: 15px 20px;
    font-weight: 500;
    background-color: #fff;
    @include fw.mq(tab) {
        padding: 9px 20px;
    }
}
