@use "../../global/forward" as fw;

.c-select {
    width: 100%;
    padding: 15px 20px;
    font-weight: 500;
    background-color: #fff;
    cursor: pointer;
    @include fw.mq("sp") {
        padding: 15px 20px;
    }
}
