@use "../../global/forward" as fw;

.c-title__fv {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 4rem;
    font-weight: 500;
    line-height: calc(70 / 40);
    letter-spacing: 0.3em;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    @include fw.mq("tab") {
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        font-size: 3rem;
        line-height: calc(60 / 30);
        text-align: center;
    }
}

.c-title__catchphrase {
    color: #530700;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.8;
    letter-spacing: 0.18em;
    writing-mode: vertical-rl;
    @include fw.mq(tab) {
        font-size: 2.5rem;
        line-height: 2.25;
    }
}

.c-title {
    text-align: center;
}

.c-title__text-ja {
    color: #530700;
    font-size: 3rem;
    font-weight: 500;
    line-height: calc(33 / 30);
    letter-spacing: 0.3em;
}

.c-title__text-en {
    color: #000;
    font-size: 2rem;
    font-weight: 500;
    line-height: calc(33 / 20);
    letter-spacing: 0.3em;
}

.c-title__reservation-text-ja {
    color: #530700;
    font-size: 3rem;
    font-weight: 500;
    line-height: calc(33 / 30);
    letter-spacing: 0.3em;
    @include fw.mq(tab) {
        letter-spacing: 0em;
    }
}

.c-title__reservation-text-en {
    color: #000;
    font-size: 2rem;
    font-weight: 500;
    line-height: calc(33 / 20);
    letter-spacing: 0.3em;
    @include fw.mq(tab) {
        letter-spacing: 0.2em;
    }
}