@use "../../global/forward" as fw;

.c-textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 50px;
    padding: 15px 20px;
    background-color: #fff;
    @include fw.mq("sp") {
        margin-bottom: 30px;
    }
}