@use "../global/forward" as fw;
@use "../foundation/base" as *;

.l-footer {
    position: relative;
    z-index: 0;
    padding-top: 77px;
    overflow: hidden;
    @include fw.mq("sp") {
        padding-top: 50px;
    }
}

.l-footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/course/course-bg-img.webp);
    opacity: 0.2;
    @include fw.mq("sp") {
        background-image: url(../img/footer/footer-bg-sp-img.webp);
    }
}

.l-footer__inner {
    width: 100%;
    max-width: 1080px;
    margin-inline: auto;
    padding-inline: 90px; /* 16.666%*/
    @include fw.mq("sp") {
        padding-inline: 30px;
    }
}

.l-footer__logo-wrapper {
    max-width: 722px;
    margin-inline: auto;
    padding-bottom: 27px;
    text-align: center;
    border-bottom: 1px solid #000;
    @include fw.mq("sp") {
        padding-bottom: 18px;
    }
}

.l-footer__logo {
    font-size: 2rem;
    font-weight: 500;
    line-height: calc(33 / 20);
    transition: .3s;
}

.l-footer__logo:hover {
    opacity: 0.5;
}

.l-footer__copyright {
    padding: 30px 0;
    text-align: center;
    background-color: #530700;
    @include fw.mq("sp") {
        padding: 20px 0;
    }
}

.l-footer__copyright-text {
    color: #fff;
    font-size: 2rem;
    font-family: $english;
    font-weight: 500;
    line-height: calc(33 / 20);
    @include fw.mq("sp") {
        line-height: calc(28 / 20);
    }
}

