@use "../global/forward" as fw;

.l-footer {
    padding-top: 81px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/catchphrase/catchphrase-bg-img.webp);
    @include fw.mq("sp") {
        padding-top: 50px;
    }
}

.l-footer__inner {
    width: 100%;
    max-width: 1080px;
    margin-inline: auto;
    padding-inline: 90px; /* 16.666%*/
    @include fw.mq("sp") {
        padding-inline: 30px;
    }
}

.l-footer__logo-wrapper {
    padding-bottom: 26px;
    text-align: center;
    border-bottom: 1px solid #000;
    @include fw.mq("sp") {
        padding-bottom: 18px;
    }
}

.l-footer__logo {
    font-size: 2rem;
    font-weight: 500;
    line-height: calc(33 / 20);
}

.l-footer__copyright {
    padding: 30px 0;
    text-align: center;
    background-color: #530700;
    @include fw.mq("sp") {
        padding: 20px 0;
    }
}

.l-footer__copyright-text {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    line-height: calc(33 / 20);
    @include fw.mq("sp") {
        line-height: calc(28 / 20);
    }
}

