@use "../global/forward" as fw;

.l-inner__catchphrase {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    max-width: 500px;
    margin: 0 0 0 219px;
    @include fw.mq(tab) {
        flex-direction: column;
        align-items: center;
        max-width: 200px;
        margin: 0;
        margin-inline: auto;
    }
}