@use "../global/forward" as fw;

.l-inner {
    width: 100%;
    max-width: 1080px;
    margin-inline: auto;
    padding-inline: 7.407%;
    @include fw.mq(tab) {
        padding-inline: 8%;
    }
}

