@use "../../global/forward" as fw;
@use "../../foundation/base" as *;

.p-access {
    position: relative;
    z-index: 0;
    padding: 80px 0 146px 0;
    overflow: hidden;
    @include fw.mq("sp") {
        padding: 50px 0 34px 0;
    }
}

.p-access::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/catchphrase/catchphrase-bg-img.webp);
    opacity: 0.6;
    @include fw.mq("sp") {
        background-image: url(../img/access/access-bg-sp-img.webp);
    }
}

.p-access__title {
    margin-bottom: 66px;
    @include fw.mq("sp") {
        margin-bottom: 38px;
    }
}

.p-access__title-ja {
    margin-bottom: 6px;
    margin-left: 10px;
    letter-spacing: 0.3em;
}

.p-access__title-en {
    margin-left: 5px;
    letter-spacing: 0.2em;
}

.p-access__contents {
    position: relative;
    display: flex;
    @include fw.mq("sp") {
        flex-direction: column;
    }
}

.p-access__map {
    width: calc(620 / 920 * 100%);
    max-width: 600px;
    aspect-ratio: 3 / 2;
    @include fw.mq("sp") {
        width: 100%;
        max-width: 100%;
        aspect-ratio: 315 / 300;
        margin-bottom: 20px;
    }
}

.p-access__map iframe {
    width: 100%;
    height: 100%;
}

.p-access__address-box {
    position: absolute;
    bottom: -66px;
    right: 0;
    z-index: -10;
    width: 54.348%;
    padding: 50px 0 40px 24%;
    color: #fff;
    background-color: #530700;
    @include fw.mq("sp") {
        position: static;
        width: 100%;
        margin-inline: auto;
        padding: 20px 20px 12px 20px;
    }
}

.p-access__izakaya-name {
    margin-bottom: 4px;
    font-size: 2rem;
    font-weight: 500;
    line-height: calc(33 / 20);
    @include fw.mq("sp") {
        font-size: 2rem;
    }
}

.p-access__address-text {
    margin-bottom: 12px;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: $address;
    line-height: calc(25 / 16);
    @include fw.mq("sp") {
        font-size: 1.6rem;
    }
}

.p-access__address-telephone {
    margin-bottom: 15px;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: $address;
    line-height: calc(25 / 16);
    @include fw.mq("sp") {
        margin-bottom: 10px;
        font-size: 1.6rem;
    }
}

.p-access__telephone-number {
    font-size: 2.5rem;
    font-weight: 500;
    font-family: $address;
    line-height: calc(25 / 25);
    transition: all 0.3s;
    @include fw.mq("sp") {
        font-size: 2.5rem;
    }
}

.p-access__telephone-number:hover {
    opacity: 0.5;
}

.p-access__address-email {
    margin-bottom: 6.5px;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: $address;
    line-height: calc(25 / 16);
    @include fw.mq("sp") {
        font-size: 1.6rem;
    }
}

.p-access__address-email span {
    margin-left: 15px;
    transition: all 0.3s;
}

.p-access__address-email span:hover {
    opacity: 0.5;
}