@use "../../global/forward" as fw;

.p-button__submit {
    display: block;
    width: 300px;
    max-width: 100%;
    margin-inline: auto;
    padding: 4px 20px;
    background-color: #530700;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    line-height: calc(33 / 20);
    text-align: center;
    border: 1px solid #530700;
    transition: all 0.3s ease;
    @include fw.mq("sp") {
        width: 315px;
    }
}

.p-button__submit:hover {
    background-color: #fff;
    color: #530700;
}

.p-button__pagetop {
    position: fixed;
    right: 60px;
    bottom: 60px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68px;
    height: 68px;
    background: #530700;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
    @include fw.mq("sp") {
        right: 30px;
        bottom: 30px;
    }
}

.p-button__pagetop:hover {
    background-color: #fff;
    border: 1px solid #530700;
}

.arrow {
    position: relative;
    display: inline-block;
    width: 5px;
    height: 0px;
    border-radius: 9999px;
    background-color: #ffffff;
}

.arrow::before,
.arrow::after {
    content: "";
    position: absolute;
    top: -8px;
    left: calc(50% - 2.5px);
    width: 5px;
    height: 18.8px;
    border-radius: 9999px;
    background-color: #ffffff;
    transform-origin: 50% 2.5px;
    transition: .3s;
}

.p-button__pagetop:hover .arrow::before,
.p-button__pagetop:hover .arrow::after {
    background-color: #530700;
}

.arrow::before {
    transform: rotate(38.15deg);
}

.arrow::after {
    transform: rotate(-38.15deg);
}
