@use "../../global/forward" as fw;

.p-course {
    padding: 84px 0 100px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(../img/catchphrase/catchphrase-bg-img.png);
    @include fw.mq(tab) {
        padding: 53px 0 60px 0;
    }
}

.p-course__title {
    margin-bottom: 67px;
    margin-left: 10px;
    @include fw.mq(tab) {
        margin-bottom: 40px;
    }
}

.p-course__title-ja {
    margin-bottom: 3px;
    letter-spacing: 0.3em;
}

.p-course__title-en {
    margin-left: -5px;
    letter-spacing: 0.2em;
}

.p-course__list {
    display: flex;
    gap: 4.6%;
    @include fw.mq(tab) {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

.p-course__item {
    width: 25%;
    cursor: pointer;
    @include fw.mq(tab) {
        width: 100%;
        max-width: 350px;
    }
}

.p-course__item-img {
    margin-bottom: 20px;
    @include fw.mq(tab) {
        margin-bottom: 9px;
    }
}

.p-course__item-img img {
    @include fw.mq(tab) {
        height: 250px;
    }
}

.p-course__item-text-box {
    text-align: center;
    @include fw.mq(tab) {
        text-align: left;
    }
}

.p-course__item-text {
    font-size: clamp(1.60rem, 0.64vw + 0.91rem, 1.60rem);
    font-weight: 500;
    font-family: "Zen Old Mincho";
    line-height: calc(25 / 16);
}

.p-course__item-text span {
    margin-left: -4px;
}

/* モーダルの背景（黒くする部分） */
.p-course__modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: none; /* 最初は非表示 */
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7); /* 半透明の黒 */
    overflow: auto;
}

  /* モーダルの中身 */
.p-course__modal-content {
    position: relative;
    width: 90%;
    max-width: 500px;
    margin: 0;
    padding: 15px;
    background-color: #fff;
}

/* 閉じるボタン */
.modal__close {
    position: absolute;
    top: -20px;
    right: 0;
    font-size: 5rem;
    cursor: pointer;
}

/* モーダル内の画像 */
.is-modal-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* モーダル内のテキスト */
.is-modal-text {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: calc(25 / 16);
}
