@use "../../global/forward" as fw;

.p-checkbox__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0; /* 3.125% */
    padding: 7px 0 0 0;
    @include fw.mq("sp") {
        flex-wrap: wrap;
    }
}

.p-form .p-form__item:nth-of-type(6) .p-checkbox__wrapper:nth-of-type(1) {
    @include fw.mq("sp") {
        padding: 8px 0 0 0;;
    }
}

.p-form .p-form__item:nth-of-type(6) .p-checkbox__wrapper:nth-of-type(2) {
    @include fw.mq("sp") {
        padding: 0;
    }
}

.p-checkbox__input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.p-checkbox__label {
    position: relative;
    display: inline-block;
    width: 200px;
    margin-bottom: 5px;
    font-size: 1.8rem;
    cursor: default;
    @include fw.mq("sp") {
        flex: 1 1 50%;
        font-size: 1.6rem;
        line-height: calc(25 / 16);
    }
}

.p-checkbox__span {
    position: relative;
    display: inline-block;
    padding-left: 40px;
    font-size: 1.8rem;
    // 他のスタイルそのまま
    @include fw.mq("large") {
        font-size: 1.6rem;
    }
    @include fw.mq("sp") {
        padding-left: 30px;
    }
    @include fw.mq("exsp") {
        padding-left: 30px;
        font-size: 1.4rem;
    }
}

.p-form .p-form__item:nth-of-type(6) .p-checkbox__label:nth-of-type(3),
.p-form .p-form__item:nth-of-type(6) .p-checkbox__label:nth-of-type(4) {
    padding-left: 5px;
    @include fw.mq("sp") {
        padding-left: 0;
    }
}

.p-checkbox__span::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    width: 20px;
    height: 20px;
    background-color: #fff;
    // その他の装飾
}


.p-checkbox__input:checked + .p-checkbox__span::before {
    border-color: #3498db;
}

.p-checkbox__input:checked + .p-checkbox__span::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%) rotate(45deg);
    display: block;
    width: 5px;
    height: 10px;
    border: solid #000;
    border-width: 0 2px 2px 0;
}

.p-checkbox__input:focus + .p-checkbox__span::before {
    outline: 2px solid #3498db;
}