@use "../../global/forward" as fw;

.p-fv {
    position: relative;
}

.p-fv__slider-01,
.p-fv__slider-02,
.p-fv__slider-03 {
    width: 100%;
    @include fw.mq("sp") {
        height: 600px;
        object-position: center;
    }
}

.p-fv__slider-01::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.2);
}

.p-fv__slider-02::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(83, 7, 0, 1), rgba(83, 7, 0, 0));
    @include fw.mq("sp") {
        width: 0;
    }
}

.p-fv__title {
    position: absolute;
    z-index: 1;
    top: 51.5%;
    left: 5.8%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 4rem;
    font-weight: 500;
    line-height: calc(70 / 40);
    letter-spacing: 0.3em;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    @include fw.mq("sp") {
        top: 50.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding-left: 10px;
        font-size: 3rem;
        line-height: calc(60 / 30);
        text-align: center;
    }
}
