@use "../../global/forward" as fw;

.p-fv {
    position: relative;
}
.p-fv__slider-01,
.p-fv__slider-02,
.p-fv__slider-03 {
    width: 100%;
    height: 100svh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.p-fv__slider-01 {
    background-image: url(../../../../assets/img/fv/slider-img01.jpg);
    @include fw.mq("tab") {
        background-image: url(../../../../assets/img/fv/sp-slider-img01.png);
    }
}
.p-fv__slider-02 {
    background-image: url(../../../../assets/img/fv/slider-img02.png);
    @include fw.mq("tab") {
        background-image: url(../../../../assets/img/fv/sp-slider-img02.png);
    }
}
.p-fv__slider-03 {
    background-image: url(../../../../assets/img/fv/slider-img03.png);
    @include fw.mq("tab") {
        background-image: url(../../../../assets/img/fv/sp-slider-img03.png);
    }
}
