@use "../../global/forward" as fw;

.p-news {
    background-color: rgba(83, 7, 0, 0.1);
}

.p-news__contents {
    display: flex;
    justify-content: center;
    gap: 30px;
    @include fw.mq(tab) {
        flex-direction: column;
        gap: 25px;
    }
}