@use "../../global/forward" as fw;

.p-privacy {
    margin-bottom: 80px;
    padding: 26px 50px 40px 40px;
    background-color: #fff;
    height: 300px;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    overflow-y: auto;
    @include fw.mq("sp") {
        height: 320px;
        margin-bottom: 55px;
        padding: 20px 40px 30px 30px;
    }
}

.p-privacy::-webkit-scrollbar {
    width: 10px;
    background-color: #e3e3e3;
}

.p-privacy::-webkit-scrollbar-track {
    padding: 10px;
}

.p-privacy::-webkit-scrollbar-thumb {
    background-color: #9b9b9b;
    @include fw.mq("sp") {
        height: 30px;
    }
}

.p-privacy h3,
.p-privacy p,
.p-privacy ul li {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: calc(31 / 18);
    @include fw.mq("sp") {
        font-size: 1.6rem;
        line-height: calc(33 / 16);
    }
}

.p-privacy__title {
    margin-bottom: 30px;
}

.p-privacy__title span {
    display: block;
}

.p-privacy ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}