@use "../../global/forward" as fw;

.p-reservation {
    padding: 80px 0 86px 0;
    background-color: rgba(83, 7, 0, 0.1);
    @include fw.mq("sp") {
        padding: 53px 0 50px 0;
    }
}

.p-reservation__title {
    margin-bottom: 35px;
}

.p-reservation__title-ja {
    margin-bottom: 3px;
    margin-left: 10px;
    letter-spacing: 0.3em;
    @include fw.mq("sp") {
        margin-left: 0;
        letter-spacing: 0em;
    }
}

.p-reservation__title-en {
    margin-left: 5px;
    letter-spacing: 0.2em;
}

.p-reservation__contents {
    padding: 0 6.5217%;
    @include fw.mq("sp") {
        padding: 0;
    }
}

.p-reservation__text-box {
    margin-bottom: 35px;
    @include fw.mq("sp") {
        margin-bottom: 30px;
    }
}

.p-reservation__text {
    font-size: 2rem;
    font-weight: 500;
    line-height: calc(33 / 20);
}