@use "../../global/forward" as fw;

.p-recommendation {
    background-color: rgba(83, 7, 0, 0.1);
}

.p-recommendation__contents--left,
.p-recommendation__contents--right {
    position: relative;
    width: 65.2173913%;
    @include fw.mq(tab) {
        width: 100%;
        max-width: 350px;
    }
}

.p-recommendation__contents--left {
    text-align: left;
}

.p-recommendation__contents--right {
    text-align: right;
    @include fw.mq(tab) {
        text-align: left;
    }
}

.p-recommendation__contents-img {
    @include fw.mq(tab) {
        height: 220px;
    }
}

.p-recommendation__extra {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: calc(25 / 16);
}

.p-recommendation__text-box--left,
.p-recommendation__text-box--left2,
.p-recommendation__text-box--right {
    position: absolute;
    top: 150px;
    z-index: -10;
    width: 83.3333333%;
    background-color: #530700;
    @include fw.mq(tab) {
        position: static;
        width: 100%;
        height: auto;
    }
}

.p-recommendation__text-box--left {
    top: 152px;
    left: 70%;
}

.p-recommendation__text-box--left2 {
    top: 147px;
    left: 70%;
}

.p-recommendation__text-box--right {
    right: 70%;
    text-align: left;
}

.p-recommendation__text-box-inner {
    width: 56%;
    // max-width: 275px;
    @include fw.mq(tab) {
        width: 100%;
        max-width: 100%;
    }
}

.p-recommendation__text {
    color: #fff;
    font-size: clamp(1.60rem, 2.88vw + -0.61rem, 2.50rem);
    font-weight: 600;
    line-height: calc(33 / 25);
    @include fw.mq(tab) {
        font-size: 2rem;
        line-height: calc(33 / 20);
    }
}

.p-recommendation__text02 {
    color: #fff;
    font-size: clamp(1.60rem, 2.88vw + -0.61rem, 2.50rem);
    font-weight: 600;
    line-height: calc(33 / 25);
    @include fw.mq(tab) {
        font-size: 2rem;
        line-height: calc(27 / 20);
    }
}

.p-recommendation__description {
    color: #fff;
    font-size: clamp(1.20rem, 1.28vw + 0.22rem, 1.60rem);
    line-height: calc(25 / 16);
    margin-top: 16px;
    @include fw.mq(tab) {
        font-size: 1.6rem;
        margin-top: 0;
    }
}

.p-recommendation__description2 {
    color: #fff;
    font-size: clamp(1.20rem, 1.28vw + 0.22rem, 1.60rem);
    font-family: "Zen Old Mincho";
    line-height: calc(25 / 16);
    margin-top: 13px;
    @include fw.mq(tab) {
        margin-top: 9px;
        font-size: 1.6rem;
    }
}





