@use "../../global/forward" as fw;

.p-sns__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 71px;
    @include fw.mq("sp") {
        margin-bottom: 45px;
    }
}

.p-sns__item {
    width: 40px;
    height: 40px;
    transition: .3s;
}

.p-sns__item:hover {
    opacity: 0.5;
}

.p-sns__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.p-sns__link img {
    width: 28px;
    height: 28px;
}
