@use "../../global/forward" as fw;

.p-sns__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 80px;
    @include fw.mq(tab) {
        margin-bottom: 50px;
    }
}

.p-sns__item {
    width: 28px;
}


