@use "../../global/forward" as fw;

.p-table {
    width: 100%;
}

.p-table__header {
    font-size: 2rem;
    font-weight: 500;
    line-height: calc(33 / 20);
    background-color: #530700;
    color: #fff;
}

.p-table__tr {
    position: relative;
}

.p-table__tr::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 1px;
    background-color: #530700;
}

.p-table__date,
.p-table__text,
.p-table__more {
    background-color: #fff;
}

.p-table__date {
    font-size: 2rem;
    font-weight: 500;
    line-height: calc(33 / 20);
}

.p-table__text {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: calc(25 / 18);
}

.p-table__more {
    position: relative;
    text-align: right;
}

.p-table__more::after {
    content: "";
    position: absolute;
    top: 47%;
    right: 5%;
    width: 20%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../../../../assets/img/news/news-img01.png);
    @include fw.mq(tab) {
        right: 6%;
        width: 25%;
    }
}

.p-table__link {
    color: #530700;
    font-size: 2rem;
    font-weight: 500;
    line-height: calc(33 / 20);
}

/* 画像を右に揺らすアニメーション */
@keyframes shakeRight {
    0% { transform: translateX(0); }
    25% { transform: translateX(5px); }
    50% { transform: translateX(0); }
    75% { transform: translateX(5px); }
    100% { transform: translateX(0); }
  }
  
  /* テキストと画像の両方にホバーでアニメーション適用 */
.p-table__more:hover::after,
.p-table__more:hover .p-table__link {
  animation: shakeRight 0.4s ease-in-out;
}
