/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

html {
  font-size: 62.5%;
}

body {
  color: #000;
  font-size: 1.6rem;
  font-family: "EB Garamond", "Zen Old Mincho", "Noto Serif JP", serif;
  background-color: rgba(83, 7, 0, 0.1);
}

img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

a, span {
  display: inline-block;
}

.l-header {
  position: absolute;
  z-index: 20;
  width: 100%;
  padding: 30px 0;
}
@media screen and (max-width: 768px) {
  .l-header {
    padding: 10px 0;
  }
}

.l-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 80px;
}
@media screen and (max-width: 768px) {
  .l-header__container {
    padding: 0 20px;
  }
}

.l-header__logo {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
}

.l-footer {
  background-size: cover;
  background-repeat: no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.4))), url(../../../../assets/img/footer/footer-bg-img.png);
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(../../../../assets/img/footer/footer-bg-img.png);
}

.l-footer__container {
  width: calc(100% - 360px);
  max-width: 720px;
  margin-inline: auto;
}
@media screen and (max-width: 768px) {
  .l-footer__container {
    width: calc(100% - 60px);
  }
}

.l-footer__logo-wrapper {
  text-align: center;
  border-bottom: 1px solid #000;
}

.l-footer__logo {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.65;
}

.l-footer__copyright {
  text-align: center;
  background-color: #530700;
}

.l-footer__copyright-text {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.65;
}
@media screen and (max-width: 768px) {
  .l-footer__copyright-text {
    line-height: 1.4;
  }
}

.l-container {
  width: calc(100% - 160px);
  max-width: 920px;
  margin-inline: auto;
}
@media screen and (max-width: 768px) {
  .l-container {
    width: calc(100% - 60px);
  }
}

.l-inner__catchphrase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .l-inner__catchphrase {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 200px;
  }
}

.p-nav-pc__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .p-nav-pc__list {
    display: none;
  }
}

.p-nav-pc__item a {
  position: relative;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
}

.p-nav-pc__item a::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.p-nav-pc__item a:hover::after {
  bottom: -5px;
  opacity: 1;
  visibility: visible;
}

.p-nav-pc__item a:hover {
  opacity: 0.7;
}

.p-nav-sp {
  display: none;
}
@media screen and (max-width: 768px) {
  .p-nav-sp {
    position: fixed;
    top: 50px;
    right: -100%;
    z-index: 100;
    display: block;
    width: 80%;
    height: 350px;
    background-color: #530700;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}

@media screen and (max-width: 768px) {
  .p-nav-sp.open {
    right: 0;
  }
}

@media screen and (max-width: 768px) {
  .p-nav-sp__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
}

@media screen and (max-width: 768px) {
  .p-nav-sp__item {
    width: 100%;
    padding: 12px 0 13px 20px;
  }
}

@media screen and (max-width: 768px) {
  .p-nav-sp__item:hover {
    background-color: #000;
  }
}

@media screen and (max-width: 768px) {
  .p-nav-sp__item a {
    display: block;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.8333333333;
    cursor: pointer;
  }
}

.p-nav__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 640px;
}
@media screen and (max-width: 768px) {
  .p-nav__footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.p-nav__footer-link {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.8333333333;
}

.p-hamburger {
  display: none;
}
@media screen and (max-width: 768px) {
  .p-hamburger {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 200;
    display: block;
    width: 72px;
    height: 50px;
    background-color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

@media screen and (max-width: 768px) {
  .c-hamburger__line,
  .c-hamburger__line::before,
  .c-hamburger__line::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 4px;
    background-color: #530700;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

@media screen and (max-width: 768px) {
  .c-hamburger__line {
    top: 23px;
    left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .c-hamburger__line::before {
    top: 10px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

@media screen and (max-width: 768px) {
  .c-hamburger__line::after {
    bottom: 10px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

@media screen and (max-width: 768px) {
  .p-hamburger.open .c-hamburger__line {
    background-color: transparent;
  }
}

@media screen and (max-width: 768px) {
  .p-hamburger.open .c-hamburger__line::before {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media screen and (max-width: 768px) {
  .p-hamburger.open .c-hamburger__line::after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

.p-fv {
  position: relative;
}

.p-fv__slider-01,
.p-fv__slider-02,
.p-fv__slider-03 {
  width: 100%;
  height: 100svh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.p-fv__slider-01 {
  background-image: url(../../../../assets/img/fv/slider-img01.jpg);
}
@media screen and (max-width: 768px) {
  .p-fv__slider-01 {
    background-image: url(../../../../assets/img/fv/sp-slider-img01.png);
  }
}

.p-fv__slider-02 {
  background-image: url(../../../../assets/img/fv/slider-img02.png);
}
@media screen and (max-width: 768px) {
  .p-fv__slider-02 {
    background-image: url(../../../../assets/img/fv/sp-slider-img02.png);
  }
}

.p-fv__slider-03 {
  background-image: url(../../../../assets/img/fv/slider-img03.png);
}
@media screen and (max-width: 768px) {
  .p-fv__slider-03 {
    background-image: url(../../../../assets/img/fv/sp-slider-img03.png);
  }
}

.p-catchphrase {
  background-size: cover;
  background-repeat: no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.4))), url(../../../../assets/img/catchphrase/catchphrase-bg-img.png);
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(../../../../assets/img/catchphrase/catchphrase-bg-img.png);
}

.p-catchphrase__text {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.3;
  letter-spacing: 0.37em;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}
@media screen and (max-width: 768px) {
  .p-catchphrase__text {
    font-size: 1.6rem;
    line-height: 1.6;
  }
}

.p-recommendation {
  background-color: rgba(83, 7, 0, 0.1);
}

.p-recommendation__contents--left,
.p-recommendation__contents--right {
  position: relative;
  width: 65.2173913%;
}
@media screen and (max-width: 768px) {
  .p-recommendation__contents--left,
  .p-recommendation__contents--right {
    width: 100%;
  }
}

.p-recommendation__contents--left {
  text-align: left;
}

.p-recommendation__contents--right {
  text-align: right;
}
@media screen and (max-width: 768px) {
  .p-recommendation__contents--right {
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .p-recommendation__contents-img {
    height: 220px;
  }
}

.p-recommendation__extra {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5625;
}

.p-recommendation__text-box--left,
.p-recommendation__text-box--right {
  position: absolute;
  top: 150px;
  z-index: -10;
  width: 100%;
  max-width: 500px;
  height: 250px;
  background-color: #530700;
}
@media screen and (max-width: 768px) {
  .p-recommendation__text-box--left,
  .p-recommendation__text-box--right {
    position: static;
    height: auto;
  }
}

.p-recommendation__text-box--left {
  left: 70%;
}

.p-recommendation__text-box--right {
  right: 70%;
  text-align: left;
}

.p-recommendation__text-box-inner {
  width: 100%;
  max-width: 275px;
}

.p-recommendation__text {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.32;
}
@media screen and (max-width: 768px) {
  .p-recommendation__text {
    font-size: 2rem;
    line-height: 1.65;
  }
}

.p-recommendation__description {
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.5625;
}

.p-course {
  background-size: cover;
  background-repeat: no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.4))), url(../../../../assets/img/course/course-bg-img.png);
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(../../../../assets/img/course/course-bg-img.png);
}

.p-course__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  .p-course__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}

.p-course__item {
  width: 25%;
}
@media screen and (max-width: 768px) {
  .p-course__item {
    width: 100%;
  }
}

.p-course__item-text-box {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .p-course__item-text-box {
    text-align: left;
  }
}

.p-course__item-text {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5625;
}

.p-news {
  background-color: rgba(83, 7, 0, 0.1);
}

.p-news__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .p-news__contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 25px;
  }
}

.p-table {
  width: 100%;
}

.p-table__header {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.65;
  background-color: #530700;
  color: #fff;
}

.p-table__tr {
  position: relative;
}

.p-table__tr::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  height: 1px;
  background-color: #530700;
}

.p-table__date,
.p-table__text,
.p-table__more {
  background-color: #fff;
}

.p-table__date {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.65;
}

.p-table__text {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.3888888889;
}

.p-table__more {
  position: relative;
  text-align: right;
}

.p-table__more::after {
  content: "";
  position: absolute;
  top: 47%;
  right: 5%;
  width: 20%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../../../../assets/img/news/news-img01.png);
}
@media screen and (max-width: 768px) {
  .p-table__more::after {
    right: 6%;
    width: 25%;
  }
}

.p-table__link {
  color: #530700;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.65;
}

.p-access {
  position: relative;
  z-index: -20;
  background-size: cover;
  background-repeat: no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.4))), url(../../../../assets/img/access/access-bg-img.png);
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(../../../../assets/img/access/access-bg-img.png);
}

.p-access__contents {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .p-access__contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-access__map {
  width: 600px;
  height: 400px;
}
@media screen and (max-width: 768px) {
  .p-access__map {
    width: 315px;
    height: 300px;
  }
}

.p-access__map iframe {
  width: 100%;
  height: 100%;
}

.p-access__address-box {
  position: absolute;
  bottom: -60px;
  right: 0;
  z-index: -10;
  width: 54.348%;
  color: #fff;
  background-color: #530700;
}
@media screen and (max-width: 768px) {
  .p-access__address-box {
    position: static;
    width: 100%;
  }
}

.p-access__izakaya-name {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.65;
}

.p-access__address-text {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Noto Serif JP", serif;
  line-height: 1.5625;
}

.p-access__address-telephone {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Noto Serif JP", serif;
  line-height: 1.5625;
}

.p-access__telephone-number {
  font-size: 2.5rem;
  font-weight: 500;
  font-family: "Noto Serif JP", serif;
  line-height: 1;
}

.p-access__address-email {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Noto Serif JP", serif;
  line-height: 1.5625;
}

.p-reservation {
  background-color: rgba(83, 7, 0, 0.1);
}

.p-reservation__text {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.65;
}

.p-form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .p-form__item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-form__item-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p-form__radio-wrapper,
.p-form__select-wrapper {
  width: 78.75%;
}

.p-form__select-wrapper {
  position: relative;
}
@media screen and (max-width: 768px) {
  .p-form__select-wrapper {
    width: 100%;
  }
}

.p-form__select-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  width: 20px;
  height: 16px;
  background-color: #530700;
  -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
          clip-path: polygon(0 0, 50% 100%, 100% 0);
  pointer-events: none;
}

.p-form__item__textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.p-sns__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.p-sns__item {
  width: 30px;
}

.c-title__fv {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.3em;
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
}
@media screen and (max-width: 768px) {
  .c-title__fv {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    font-size: 3rem;
    line-height: 2;
    text-align: center;
  }
}

.c-title__catchphrase {
  color: #530700;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: 0.18em;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}
@media screen and (max-width: 768px) {
  .c-title__catchphrase {
    font-size: 2.5rem;
    line-height: 2.25;
  }
}

.c-title {
  text-align: center;
}

.c-title__text-ja {
  color: #530700;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.3em;
}

.c-title__text-en {
  color: #000;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.65;
  letter-spacing: 0.3em;
}

.c-title__reservation-text-ja {
  color: #530700;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.3em;
}
@media screen and (max-width: 768px) {
  .c-title__reservation-text-ja {
    letter-spacing: 0em;
  }
}

.c-title__reservation-text-en {
  color: #000;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.65;
  letter-spacing: 0.3em;
}
@media screen and (max-width: 768px) {
  .c-title__reservation-text-en {
    letter-spacing: 0.2em;
  }
}

.c-label__title {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.65;
}

.c-input__name-wrapper {
  display: inline-block;
  width: 100%;
  background-color: #fff;
}

.c-input__name,
.c-input__email {
  width: 78.75%;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .c-input__name,
  .c-input__email {
    width: 100%;
  }
}

.c-radio__input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.c-radio__label {
  position: relative;
  display: inline-block;
  padding-left: 40px;
  margin-right: 60px;
  margin-bottom: 5px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .c-radio__label {
    margin-right: 10px;
  }
}

.c-radio__span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
}

.c-radio__input:checked + .c-radio__span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 7px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #000;
}

.c-radio__input:focus + .c-radio__span::before {
  outline: 2px solid #3498db;
}

.c-select {
  width: 100%;
  background-color: #fff;
}

.c-textarea {
  width: 100%;
  height: 200px;
  background-color: #fff;
}

.c-textarea__privacy {
  width: 100%;
  height: 300px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.7222222222;
  background-color: #fff;
}

.c-checkbox__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
@media screen and (max-width: 768px) {
  .c-checkbox__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: first baseline;
        -ms-flex-pack: first baseline;
            justify-content: first baseline;
    gap: 0;
  }
}

.c-checkbox__input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.c-checkbox__label {
  position: relative;
  display: inline-block;
  width: 200px;
  padding-left: 30px;
  margin-bottom: 5px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .c-checkbox__label {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    font-size: 1.6rem;
    line-height: 1.5625;
  }
}

.c-checkbox__span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
}

.c-checkbox__input:checked + .c-checkbox__span::before {
  border-color: #3498db;
}

.c-checkbox__input:checked + .c-checkbox__span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 8px;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  display: block;
  width: 5px;
  height: 10px;
  border: solid #000;
  border-width: 0 2px 2px 0;
}

.c-checkbox__input:focus + .c-checkbox__span::before {
  outline: 2px solid #3498db;
}

.c-button__submit {
  display: block;
  width: 300px;
  max-width: 100%;
  padding: 10px 20px;
  background-color: #530700;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.65;
  text-align: center;
  border: 1px solid #530700;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.c-button__submit:hover {
  background-color: #fff;
  color: #530700;
}

.u-background-color {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.u-background {
  width: 50%;
  height: auto;
  background: -webkit-gradient(linear, left top, right top, from(rgb(83, 7, 0)), to(rgba(83, 7, 0, 0)));
  background: linear-gradient(to right, rgb(83, 7, 0), rgba(83, 7, 0, 0));
}
@media screen and (max-width: 768px) {
  .u-background {
    width: 0;
  }
}

.u-margin__catchphrase {
  margin-left: 60px;
}
@media screen and (max-width: 768px) {
  .u-margin__catchphrase {
    margin-bottom: 40px;
    margin-left: 0;
  }
}

.u-margin__recommendation {
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .u-margin__recommendation {
    margin-bottom: 40px;
  }
}

.u-margin__recommendation__contents--left,
.u-margin__recommendation__contents--right {
  margin-bottom: 140px;
}
@media screen and (max-width: 768px) {
  .u-margin__recommendation__contents--left,
  .u-margin__recommendation__contents--right {
    margin-bottom: 50px;
  }
}

.u-margin__recommendation__contents--end {
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .u-margin__recommendation__contents--end {
    margin-bottom: 0;
  }
}

.u-margin__recommendation__contents--left {
  margin-inline: 0 auto;
}
@media screen and (max-width: 768px) {
  .u-margin__recommendation__contents--left {
    margin-inline: 0;
  }
}

@media screen and (max-width: 768px) {
  .u-margin__recommendation__extra {
    margin-bottom: 5px;
  }
}

.u-margin__recommendation__contents-img {
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .u-margin__recommendation__contents-img {
    margin-bottom: 5px;
  }
}

.u-margin__recommendation__text-box-inner--left {
  margin-inline: auto 0;
}
@media screen and (max-width: 768px) {
  .u-margin__recommendation__text-box-inner--left {
    margin-inline: 0;
  }
}

.u-margin__recommendation__contents--right {
  margin-inline: auto 0;
}

.u-margin__recommendation__text-box-inner--right {
  margin-left: 40px;
}
@media screen and (max-width: 768px) {
  .u-margin__recommendation__text-box-inner--right {
    margin-left: 0;
  }
}

.u-margin__recommendation__text {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .u-margin__recommendation__text {
    margin-bottom: 5px;
  }
}

.u-margin__course {
  margin-bottom: 70px;
}
@media screen and (max-width: 768px) {
  .u-margin__course {
    margin-bottom: 40px;
  }
}

.u-margin__course__item-img {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .u-margin__course__item-img {
    margin-bottom: 10px;
  }
}

.u-margin__news {
  margin-bottom: 70px;
}
@media screen and (max-width: 768px) {
  .u-margin__news {
    margin-bottom: 40px;
  }
}

.u-margin__table__date--top {
  margin-left: 20px;
}

.u-margin__table__text--top {
  margin-right: 20px;
}

.u-margin__table__date {
  margin-left: 20px;
}

.u-margin__table__text {
  margin-right: 20px;
}

.u-margin__access {
  margin-bottom: 70px;
}
@media screen and (max-width: 768px) {
  .u-margin__access {
    margin-bottom: 40px;
  }
}

.u-margin__access__izakaya-name {
  margin-bottom: 10px;
}

.u-margin__access__address-text {
  margin-bottom: 10px;
}

.u-margin__address-telephone {
  margin-bottom: 20px;
}

.u-margin__address-email {
  margin-left: 10px;
}

.u-margin__reservation {
  margin-bottom: 40px;
}

.u-margin__reservation__text-box {
  margin-bottom: 40px;
}

.u-margin__form__item {
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .u-margin__form__item {
    margin-bottom: 30px;
  }
}

.u-margin__form__item-label {
  margin-bottom: 10px;
}

.u-margin__form__item-checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .u-margin__form__item-checkbox {
    margin-bottom: 0;
  }
}

.u-margin__button__submit {
  margin-inline: auto;
}

.u-margin__footer__logo-wrapper {
  margin-bottom: 30px;
}

.u-margin__footer__nav {
  margin-inline: auto;
  margin-bottom: 30px;
}

.u-padding__catchphrase {
  padding: 130px 0;
}
@media screen and (max-width: 768px) {
  .u-padding__catchphrase {
    padding: 60px 0;
  }
}

.u-padding {
  padding: 80px 0;
}
@media screen and (max-width: 768px) {
  .u-padding {
    padding: 50px 0;
  }
}

.u-padding__recommendation__text-box {
  padding-top: 50px;
}
@media screen and (max-width: 768px) {
  .u-padding__recommendation__text-box {
    padding: 20px;
  }
}

.u-padding__course {
  padding: 80px 0 100px 0;
}
@media screen and (max-width: 768px) {
  .u-padding__course {
    padding: 50px 0 60px 0;
  }
}

.u-padding__table__header {
  padding: 10px 20px;
}

.u-padding__table__date--top {
  padding: 30px 30px 10px 20px;
}
@media screen and (max-width: 768px) {
  .u-padding__table__date--top {
    padding: 20px 5px 0 20px;
  }
}

.u-padding__table__text--top {
  padding: 30px 20px 10px 30px;
}
@media screen and (max-width: 768px) {
  .u-padding__table__text--top {
    padding: 25px 20px 15px 5px;
  }
}

.u-padding__table__date {
  padding: 20px 30px 10px 20px;
}
@media screen and (max-width: 768px) {
  .u-padding__table__date {
    padding: 10px 5px 0 20px;
  }
}

.u-padding__table__text {
  padding: 20px 20px 10px 30px;
}
@media screen and (max-width: 768px) {
  .u-padding__table__text {
    padding: 10px 20px 15px 5px;
  }
}

.u-padding__table__more {
  padding: 20px 55px 25px 0;
}

.u-padding__access {
  padding: 80px 0 140px 0;
}
@media screen and (max-width: 768px) {
  .u-padding__access {
    padding: 50px 0 40px 0;
  }
}

.u-padding__access__address {
  padding: 50px 0 40px 220px;
}
@media screen and (max-width: 768px) {
  .u-padding__access__address {
    padding: 20px;
  }
}

.u-padding__reservation {
  padding: 80px 0;
}
@media screen and (max-width: 768px) {
  .u-padding__reservation {
    padding: 50px 0;
  }
}

.u-padding__reservation__contents {
  padding: 0 80px;
}
@media screen and (max-width: 768px) {
  .u-padding__reservation__contents {
    padding: 0;
  }
}

.u-padding__input {
  padding: 10px 20px;
}

.u-padding__select {
  padding: 10px 20px;
}

.u-padding__textarea {
  padding: 10px 20px;
}

.u-padding__textarea__privacy {
  padding: 40px;
}

.u-padding__footer {
  padding: 80px 0;
}
@media screen and (max-width: 768px) {
  .u-padding__footer {
    padding: 50px 0;
  }
}

.u-padding__footer__logo-wrapper {
  padding-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .u-padding__footer__logo-wrapper {
    padding-bottom: 20px;
  }
}

.u-padding__footer__copyright {
  padding: 30px 0;
}
@media screen and (max-width: 768px) {
  .u-padding__footer__copyright {
    padding: 20px 0;
  }
}

@media screen and (max-width: 768px) {
  .u-pc-only {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .u-sp-only {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */