@charset "UTF-8";
/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: #000;
  font-size: 1.6rem;
  font-family: "EB Garamond", "Zen Old Mincho", "Noto Serif JP", serif;
  background-color: rgba(83, 7, 0, 0.1);
}

img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

a, span {
  display: inline-block;
}

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  padding: 35px 0 30px 0;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
@media screen and (max-width: 768px) {
  .l-header {
    padding: 15px 0;
  }
}

.l-header.is-colored {
  background-color: #530700;
}

.l-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.8518%;
  padding: 0 7.407%;
}
@media screen and (max-width: 768px) {
  .l-header__inner {
    padding: 0 22px;
  }
}

.l-header__logo {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
}

.l-footer {
  padding-top: 81px;
  background-size: cover;
  background-repeat: no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.4))), url(../img/catchphrase/catchphrase-bg-img.png);
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(../img/catchphrase/catchphrase-bg-img.png);
}
@media screen and (max-width: 768px) {
  .l-footer {
    padding-top: 50px;
  }
}

.l-footer__inner {
  width: 100%;
  max-width: 1080px;
  margin-inline: auto;
  padding-inline: 90px; /* 16.666%*/
}
@media screen and (max-width: 768px) {
  .l-footer__inner {
    padding-inline: 30px;
  }
}

.l-footer__logo-wrapper {
  padding-bottom: 26px;
  text-align: center;
  border-bottom: 1px solid #000;
}
@media screen and (max-width: 768px) {
  .l-footer__logo-wrapper {
    padding-bottom: 18px;
  }
}

.l-footer__logo {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.65;
}

.l-footer__copyright {
  padding: 30px 0;
  text-align: center;
  background-color: #530700;
}
@media screen and (max-width: 768px) {
  .l-footer__copyright {
    padding: 20px 0;
  }
}

.l-footer__copyright-text {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.65;
}
@media screen and (max-width: 768px) {
  .l-footer__copyright-text {
    line-height: 1.4;
  }
}

.l-inner {
  width: 100%;
  max-width: 1080px;
  margin-inline: auto;
  padding-inline: 7.407%;
}
@media screen and (max-width: 768px) {
  .l-inner {
    padding-inline: 8%;
  }
}

.p-nav-pc__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 22px;
}
@media screen and (max-width: 768px) {
  .p-nav-pc__list {
    display: none;
  }
}

.p-nav-pc__item a {
  position: relative;
  color: #fff;
  font-size: clamp(1.2rem, 1.92vw - 0.27rem, 1.8rem);
  font-weight: 500;
}

.p-nav-pc__item a::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.p-nav-pc__item a:hover::after {
  bottom: -5px;
  opacity: 1;
  visibility: visible;
}

.p-nav-pc__item a:hover {
  opacity: 0.7;
}

.p-nav-sp {
  display: none;
}
@media screen and (max-width: 768px) {
  .p-nav-sp {
    position: fixed;
    top: 50px;
    right: -100%;
    z-index: 100;
    display: block;
    width: 80%;
    height: 350px;
    background-color: #530700;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}

@media screen and (max-width: 768px) {
  .p-nav-sp.open {
    right: 0;
  }
}

@media screen and (max-width: 768px) {
  .p-nav-sp__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
}

@media screen and (max-width: 768px) {
  .p-nav-sp__item {
    width: 100%;
    padding: 12px 0 13px 20px;
  }
}

@media screen and (max-width: 768px) {
  .p-nav-sp__item:hover {
    background-color: #000;
  }
}

@media screen and (max-width: 768px) {
  .p-nav-sp__item a {
    display: block;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.8333333333;
    cursor: pointer;
  }
}

.p-nav__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.125%;
  width: 100%;
  max-width: 640px;
  margin-inline: auto;
  margin-bottom: 25px;
  padding-top: 30px;
}
@media screen and (max-width: 768px) {
  .p-nav__footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 5px;
    -webkit-column-gap: 23px;
       -moz-column-gap: 23px;
            column-gap: 23px;
    padding-top: 21px;
  }
}

.p-nav__footer-link {
  font-size: clamp(1.2rem, 1.92vw - 0.27rem, 1.8rem);
  font-weight: 500;
  line-height: 1.8333333333;
}
@media screen and (max-width: 768px) {
  .p-nav__footer-link {
    font-size: 1.8rem;
  }
}

.p-nav__footer-link:hover {
  opacity: 0.7;
}

.p-hamburger {
  display: none;
}
@media screen and (max-width: 768px) {
  .p-hamburger {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 200;
    display: block;
    width: 72px;
    height: 50px;
    background-color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

@media screen and (max-width: 768px) {
  .p-hamburger__line,
  .p-hamburger__line::before,
  .p-hamburger__line::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 4px;
    background-color: #530700;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

@media screen and (max-width: 768px) {
  .p-hamburger__line {
    top: 23px;
    left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .p-hamburger__line::before {
    top: 10px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

@media screen and (max-width: 768px) {
  .p-hamburger__line::after {
    bottom: 10px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

@media screen and (max-width: 768px) {
  .p-hamburger.open .p-hamburger__line {
    background-color: transparent;
  }
}

@media screen and (max-width: 768px) {
  .p-hamburger.open .p-hamburger__line::before {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media screen and (max-width: 768px) {
  .p-hamburger.open .p-hamburger__line::after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

.p-fv {
  position: relative;
}

.p-fv__slider-01,
.p-fv__slider-02,
.p-fv__slider-03 {
  width: 100%;
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 768px) {
  .p-fv__slider-01,
  .p-fv__slider-02,
  .p-fv__slider-03 {
    height: 600px;
  }
}

.p-fv__slider-01 {
  background-image: url(../img/fv/slider-img01.jpg);
}
@media screen and (max-width: 768px) {
  .p-fv__slider-01 {
    background-image: url(../img/fv/sp-slider-img01.png);
  }
}

.p-fv__slider-02 {
  background-image: url(../img/fv/slider-img02.png);
}
@media screen and (max-width: 768px) {
  .p-fv__slider-02 {
    background-image: url(../img/fv/sp-slider-img02.png);
  }
}

.p-fv__slider-03 {
  background-image: url(../img/fv/slider-img03.png);
}
@media screen and (max-width: 768px) {
  .p-fv__slider-03 {
    background-image: url(../img/fv/sp-slider-img03.png);
  }
}

.p-fv__title {
  position: absolute;
  z-index: 10;
  top: 51.5%;
  left: 5.8%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.3em;
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
}
@media screen and (max-width: 768px) {
  .p-fv__title {
    top: 50.5%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    padding-left: 10px;
    font-size: 3rem;
    line-height: 2;
    text-align: center;
  }
}

.p-catchphrase {
  padding: 135px 0 117px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.4))), url(../img/catchphrase/catchphrase-bg-img.png);
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(../img/catchphrase/catchphrase-bg-img.png);
}
@media screen and (max-width: 768px) {
  .p-catchphrase {
    padding: 60px 0;
  }
}

.p-catchphrase__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 100%;
  max-width: 500px;
  margin-inline: auto;
}
@media screen and (max-width: 768px) {
  .p-catchphrase__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 200px;
    margin: 0;
    margin-inline: auto;
  }
}

.p-catchphrase__title {
  margin-right: -9px;
  margin-left: 55px;
  color: #530700;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: 0.18em;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}
@media screen and (max-width: 768px) {
  .p-catchphrase__title {
    margin-bottom: 43px;
    margin-left: -2px;
    padding-right: 10px;
    font-size: 2.5rem;
    line-height: 2.25;
  }
}

.p-catchphrase__text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 38px;
}
@media screen and (max-width: 768px) {
  .p-catchphrase__text-box {
    gap: 0;
  }
}

.p-catchphrase__text {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 0.65;
  letter-spacing: 0.37em;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}
@media screen and (max-width: 768px) {
  .p-catchphrase__text {
    font-size: 1.6rem;
    line-height: 1.6;
  }
}

.p-recommend {
  padding: 84px 0 101px 0;
  background-color: rgba(83, 7, 0, 0.1);
}
@media screen and (max-width: 768px) {
  .p-recommend {
    padding: 50px 0 24px 0;
  }
}

.p-recommend__title {
  margin-bottom: 60px;
  letter-spacing: 0.3em;
}
@media screen and (max-width: 768px) {
  .p-recommend__title {
    margin-bottom: 37px;
  }
}

.p-recommend__title-ja {
  margin-left: 10px;
  letter-spacing: 0.3em;
}
@media screen and (max-width: 768px) {
  .p-recommend__title-ja {
    margin-left: 8px;
  }
}

.p-recommend__title-en {
  margin-top: 3px;
  margin-left: 6px;
  letter-spacing: 0.3em;
}
@media screen and (max-width: 768px) {
  .p-recommend__title-en {
    letter-spacing: 0.2em;
  }
}

.p-recommend__contents {
  position: relative;
  width: 65.2173913%;
  margin-bottom: 141px;
}
@media screen and (max-width: 768px) {
  .p-recommend__contents {
    width: 100%;
    max-width: 350px;
    margin-inline: auto;
    margin-bottom: 62px;
  }
}

.p-recommend .p-recommend__contents:nth-child(odd) {
  margin-inline: auto 0;
  text-align: right;
}
@media screen and (max-width: 768px) {
  .p-recommend .p-recommend__contents:nth-child(odd) {
    margin-inline: auto;
    text-align: left;
  }
}

.p-recommend .p-recommend__contents:nth-child(even) {
  text-align: left;
}

.p-recommend .p-recommend__contents:nth-of-type(1) {
  margin-bottom: 141px;
}
@media screen and (max-width: 768px) {
  .p-recommend .p-recommend__contents:nth-of-type(1) {
    margin-bottom: 55px;
  }
}

.p-recommend .p-recommend__contents:nth-of-type(2) {
  margin-bottom: 129px;
}
@media screen and (max-width: 768px) {
  .p-recommend .p-recommend__contents:nth-of-type(2) {
    margin-bottom: 53px;
  }
}

.p-recommend .p-recommend__contents:nth-of-type(3) {
  margin-bottom: 29px;
}

@media screen and (max-width: 768px) {
  .p-recommend__contents-img {
    height: 220px;
    margin-bottom: 5px;
  }
}

.p-recommend__contents:nth-of-type(1) .p-recommend__contents-img {
  margin-bottom: 16px;
}
@media screen and (max-width: 768px) {
  .p-recommend__contents:nth-of-type(1) .p-recommend__contents-img {
    margin-bottom: 6px;
  }
}

.p-recommend__contents:nth-of-type(2) .p-recommend__contents-img {
  margin-bottom: 21px;
}
@media screen and (max-width: 768px) {
  .p-recommend__contents:nth-of-type(2) .p-recommend__contents-img {
    margin-bottom: 4px;
  }
}

.p-recommend__contents:nth-of-type(3) .p-recommend__contents-img {
  margin-bottom: 21px;
}
@media screen and (max-width: 768px) {
  .p-recommend__contents:nth-of-type(3) .p-recommend__contents-img {
    margin-bottom: 7px;
  }
}

.p-recommend__extra {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5625;
}
@media screen and (max-width: 768px) {
  .p-recommend__extra {
    margin-bottom: 5px;
  }
}

.p-recommend__text-box {
  position: absolute;
  z-index: -10;
  width: 83.3333333%;
  padding: 7.3% 0;
  background-color: #530700;
}
@media screen and (max-width: 768px) {
  .p-recommend__text-box {
    position: static;
    width: 100%;
    height: auto;
    padding: 16px 0 10px 20px;
  }
}

.p-recommend .p-recommend__contents:nth-of-type(1) .p-recommend__text-box {
  top: 152px;
  left: 70%;
}

.p-recommend .p-recommend__contents:nth-of-type(2) .p-recommend__text-box {
  top: 146px;
  right: 70%;
  text-align: left;
}

.p-recommend .p-recommend__contents:nth-of-type(3) .p-recommend__text-box {
  top: 146px;
  left: 70%;
}

.p-recommend .p-recommend__contents:nth-of-type(odd) .p-recommend__text,
.p-recommend .p-recommend__contents:nth-of-type(odd) .p-recommend__description {
  margin-inline: auto 5px;
}
@media screen and (max-width: 768px) {
  .p-recommend .p-recommend__contents:nth-of-type(odd) .p-recommend__text,
  .p-recommend .p-recommend__contents:nth-of-type(odd) .p-recommend__description {
    margin-inline: 0;
  }
}

.p-recommend .p-recommend__contents:nth-of-type(even) .p-recommend__text,
.p-recommend .p-recommend__contents:nth-of-type(even) .p-recommend__description {
  margin-inline: 0 auto;
  padding-left: 8%;
}
@media screen and (max-width: 768px) {
  .p-recommend .p-recommend__contents:nth-of-type(even) .p-recommend__text,
  .p-recommend .p-recommend__contents:nth-of-type(even) .p-recommend__description {
    padding-left: 0;
  }
}

.p-recommend__text {
  width: 60%;
  max-width: 275px;
  margin-top: 7px;
  color: #fff;
  font-size: clamp(1.6rem, 2.88vw - 0.61rem, 2.5rem);
  font-weight: 600;
  line-height: 1.32;
}
@media screen and (max-width: 768px) {
  .p-recommend__text {
    width: 100%;
    font-size: 2rem;
    line-height: 1.65;
  }
}

@media screen and (max-width: 768px) {
  .p-recommend .p-recommend__contents:nth-of-type(1) .p-recommend__text {
    margin-top: 6px;
  }
}

@media screen and (max-width: 768px) {
  .p-recommend .p-recommend__contents:nth-of-type(2) .p-recommend__text {
    margin-top: 2px;
    line-height: 1.35;
  }
}

@media screen and (max-width: 768px) {
  .p-recommend .p-recommend__contents:nth-of-type(3) .p-recommend__text {
    margin-top: 5px;
    line-height: 1.35;
  }
}

.p-recommend__description {
  width: 60%;
  max-width: 275px;
  color: #fff;
  font-size: clamp(1.2rem, 1.28vw + 0.22rem, 1.6rem);
  font-family: "Zen Old Mincho", serif;
  line-height: 1.5625;
  margin-top: 16px;
}
@media screen and (max-width: 768px) {
  .p-recommend__description {
    width: 100%;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 768px) {
  .p-recommend .p-recommend__contents:nth-of-type(1) .p-recommend__description {
    margin-top: 4px;
  }
}

@media screen and (max-width: 768px) {
  .p-recommend .p-recommend__contents:nth-of-type(2) .p-recommend__description {
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .p-recommend .p-recommend__contents:nth-of-type(3) .p-recommend__description {
    margin-top: 8px;
  }
}

.p-course {
  padding: 84px 0 100px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.4))), url(../img/catchphrase/catchphrase-bg-img.png);
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(../img/catchphrase/catchphrase-bg-img.png);
}
@media screen and (max-width: 768px) {
  .p-course {
    padding: 53px 0 60px 0;
  }
}

.p-course__title {
  margin-bottom: 67px;
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  .p-course__title {
    margin-bottom: 40px;
  }
}

.p-course__title-ja {
  margin-bottom: 3px;
  letter-spacing: 0.3em;
}

.p-course__title-en {
  margin-left: -5px;
  letter-spacing: 0.2em;
}

.p-course__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4.6%;
}
@media screen and (max-width: 768px) {
  .p-course__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
}

.p-course__item {
  width: 25%;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .p-course__item {
    width: 100%;
    max-width: 350px;
  }
}

.p-course__item-img {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .p-course__item-img {
    margin-bottom: 9px;
  }
}

@media screen and (max-width: 768px) {
  .p-course__item-img img {
    height: 250px;
  }
}

.p-course__item-text-box {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .p-course__item-text-box {
    text-align: left;
  }
}

.p-course__item-text {
  font-size: clamp(1.6rem, 0.64vw + 0.91rem, 1.6rem);
  font-weight: 500;
  font-family: "Zen Old Mincho";
  line-height: 1.5625;
}

.p-course__item-text span {
  margin-left: -4px;
}

/* モーダルの背景（黒くする部分） */
.p-course__modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none; /* 最初は非表示 */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* 半透明の黒 */
  overflow: auto;
}

/* モーダルの中身 */
.p-course__modal-content {
  position: relative;
  width: 90%;
  max-width: 500px;
  margin: 0;
  padding: 15px;
  background-color: #fff;
}

/* 閉じるボタン */
.modal__close {
  position: absolute;
  top: -20px;
  right: 0;
  font-size: 5rem;
  cursor: pointer;
}

/* モーダル内の画像 */
.is-modal-img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* モーダル内のテキスト */
.is-modal-text {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5625;
}

.p-news {
  padding: 80px 0;
  background-color: rgba(83, 7, 0, 0.1);
}
@media screen and (max-width: 768px) {
  .p-news {
    padding: 55px 0 49px 0;
  }
}

.p-news__title {
  margin-bottom: 67px;
}
@media screen and (max-width: 768px) {
  .p-news__title {
    margin-bottom: 37px;
  }
}

.p-news__title-ja {
  margin-bottom: 3px;
  margin-left: 10px;
  letter-spacing: 0.3em;
}

.p-news__title-en {
  margin-left: 5px;
  letter-spacing: 0.2em;
}

.p-news__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .p-news__contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 49px;
  }
}

.p-news__contents-list {
  width: 50%;
  max-width: 430px;
}
@media screen and (max-width: 768px) {
  .p-news__contents-list {
    width: 100%;
    max-width: 315px;
    margin-inline: auto;
  }
}

.p-news__list-header {
  padding: 10px 20px;
  background-color: #530700;
}

.p-news__list-header p {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.65;
}

.p-news__list-body {
  padding: 0 4.65% 0 4.65%;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .p-news__list-body {
    padding: 0 20px 0 20px;
  }
}

.p-news__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: first baseline;
      -ms-flex-align: first baseline;
          align-items: first baseline;
  gap: 59px; /* 15.384% */
  border-bottom: 1px solid #530700;
}
@media screen and (max-width: 768px) {
  .p-news__list-item {
    gap: 25px;
    padding: 14px 0;
  }
}

.p-news .p-news__contents-list:nth-of-type(1) .p-news__list-item:nth-child(1) {
  padding: 0px 0 13px 0;
}

.p-news .p-news__contents-list:nth-of-type(1) .p-news__list-item:nth-child(2) {
  padding: 1px 0 15px 0;
}

.p-news__list-item time {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Zen Old Mincho", serif;
  line-height: 2.0625;
}

.p-news__list-item p {
  font-size: 1.8rem;
  font-weight: 500;
  font-family: "Zen Old Mincho", serif;
  line-height: 1.3888888889;
}

.p-news .p-news__contents-list:nth-of-type(1) .p-news__list-item:nth-child(1) p {
  padding: 27px 0 0 7px;
}
@media screen and (max-width: 768px) {
  .p-news .p-news__contents-list:nth-of-type(1) .p-news__list-item:nth-child(1) p {
    padding: 25px 0 2px 5px;
  }
}

.p-news .p-news__contents-list:nth-of-type(1) .p-news__list-item:nth-child(2) p {
  padding: 16px 0 0 10px;
}
@media screen and (max-width: 768px) {
  .p-news .p-news__contents-list:nth-of-type(1) .p-news__list-item:nth-child(2) p {
    padding: 16px 0 0 8px;
  }
}

.p-news .p-news__contents-list:nth-of-type(1) .p-news__list-item:nth-child(3) p {
  padding: 19px 0 13px 0;
}
@media screen and (max-width: 768px) {
  .p-news .p-news__contents-list:nth-of-type(1) .p-news__list-item:nth-child(3) p {
    padding: 0 0 0 0;
  }
}

.p-news .p-news__contents-list:nth-of-type(2) .p-news__list-item:nth-child(1) p {
  padding: 27px 0 13px 14px;
}
@media screen and (max-width: 768px) {
  .p-news .p-news__contents-list:nth-of-type(2) .p-news__list-item:nth-child(1) p {
    padding: 11px 0 0 9px;
  }
}

.p-news .p-news__contents-list:nth-of-type(2) .p-news__list-item:nth-child(2) p {
  padding: 19px 0 13px 20px;
}
@media screen and (max-width: 768px) {
  .p-news .p-news__contents-list:nth-of-type(2) .p-news__list-item:nth-child(2) p {
    padding: 4px 0 0 13px;
  }
}

.p-news .p-news__contents-list:nth-of-type(2) .p-news__list-item:nth-child(3) p {
  padding: 19px 0 13px 10px;
}
@media screen and (max-width: 768px) {
  .p-news .p-news__contents-list:nth-of-type(2) .p-news__list-item:nth-child(3) p {
    padding: 5px 7px 0 5px;
  }
}

.p-news__list-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 10px;
}

.p-news__list-more span {
  position: relative;
  color: #530700;
  padding: 18px 36px 24px 0;
  font-size: 2rem;
  font-weight: 500;
  font-family: "EB Garamond", serif;
  line-height: 1.65;
}

.p-news__list-more span::after {
  content: "";
  position: absolute;
  top: 46%;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/news/news-img01.png);
}

/* 画像を右に揺らすアニメーション */
@-webkit-keyframes shakeRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  75% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes shakeRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  75% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/* テキストと画像の両方にホバーでアニメーション適用 */
.p-news__list-more:hover span::after,
.p-news__list-more:hover span {
  -webkit-animation: shakeRight 0.4s ease-in-out;
          animation: shakeRight 0.4s ease-in-out;
}

.p-access {
  position: relative;
  z-index: -20;
  padding: 80px 0 146px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.4))), url(../img/catchphrase/catchphrase-bg-img.png);
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(../img/catchphrase/catchphrase-bg-img.png);
}
@media screen and (max-width: 768px) {
  .p-access {
    padding: 50px 0 27px 0;
  }
}

.p-access__title {
  margin-bottom: 66px;
}
@media screen and (max-width: 768px) {
  .p-access__title {
    margin-bottom: 38px;
  }
}

.p-access__title-ja {
  margin-bottom: 6px;
  margin-left: 10px;
  letter-spacing: 0.3em;
}

.p-access__title-en {
  margin-left: 5px;
  letter-spacing: 0.2em;
}

.p-access__contents {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .p-access__contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-access__map {
  width: 65.2173913%;
  height: 400px;
}
@media screen and (max-width: 768px) {
  .p-access__map {
    width: 315px;
    height: 300px;
    margin-inline: auto;
    margin-bottom: 20px;
  }
}

.p-access__map iframe {
  width: 100%;
  height: 100%;
}

.p-access__address-box {
  position: absolute;
  bottom: -66px;
  right: 0;
  z-index: -10;
  width: 54.348%;
  padding: 50px 0 40px 24%;
  color: #fff;
  background-color: #530700;
}
@media screen and (max-width: 768px) {
  .p-access__address-box {
    position: static;
    width: 100%;
    max-width: 315px;
    margin-inline: auto;
    padding: 20px;
  }
}

.p-access__izakaya-name {
  margin-bottom: 4px;
  font-size: clamp(1.6rem, 1.28vw + 0.62rem, 2rem);
  font-weight: 500;
  line-height: 1.65;
}
@media screen and (max-width: 768px) {
  .p-access__izakaya-name {
    font-size: 2rem;
  }
}

.p-access__address-text {
  margin-bottom: 12px;
  font-size: clamp(1.2rem, 1.28vw + 0.22rem, 1.6rem);
  font-weight: 500;
  font-family: "Noto Serif JP", serif;
  line-height: 1.5625;
}
@media screen and (max-width: 768px) {
  .p-access__address-text {
    font-size: 1.6rem;
  }
}

.p-access__address-telephone {
  margin-bottom: 15px;
  font-size: clamp(1.2rem, 1.28vw + 0.22rem, 1.6rem);
  font-weight: 500;
  font-family: "Noto Serif JP", serif;
  line-height: 1.5625;
}
@media screen and (max-width: 768px) {
  .p-access__address-telephone {
    margin-bottom: 10px;
    font-size: 1.6rem;
  }
}

.p-access__telephone-number {
  font-size: clamp(1.6rem, 2.88vw - 0.61rem, 2.5rem);
  font-weight: 500;
  font-family: "Noto Serif JP", serif;
  line-height: 1;
}
@media screen and (max-width: 768px) {
  .p-access__telephone-number {
    font-size: 2.5rem;
  }
}

.p-access__address-email {
  margin-bottom: 6.5px;
  font-size: clamp(1.2rem, 1.28vw + 0.22rem, 1.6rem);
  font-weight: 500;
  font-family: "Noto Serif JP", serif;
  line-height: 1.5625;
}
@media screen and (max-width: 768px) {
  .p-access__address-email {
    font-size: 1.6rem;
  }
}

.p-access__address-email span {
  margin-left: 15px;
}

.p-reservation {
  padding: 80px 0 76px 0;
  background-color: rgba(83, 7, 0, 0.1);
}
@media screen and (max-width: 768px) {
  .p-reservation {
    padding: 53px 0 48px 0;
  }
}

.p-reservation__title {
  margin-bottom: 38px;
}

.p-reservation__title-ja {
  margin-bottom: 3px;
  margin-left: 10px;
  letter-spacing: 0.3em;
}
@media screen and (max-width: 768px) {
  .p-reservation__title-ja {
    margin-left: 0;
    letter-spacing: 0em;
  }
}

.p-reservation__title-en {
  margin-left: 5px;
  letter-spacing: 0.2em;
}

.p-reservation__contents {
  padding: 0 6.5217%;
}
@media screen and (max-width: 992px) {
  .p-reservation__contents {
    padding: 0;
  }
}

.p-reservation__text-box {
  margin-bottom: 35px;
}
@media screen and (max-width: 768px) {
  .p-reservation__text-box {
    margin-bottom: 27px;
  }
}

.p-reservation__text {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.65;
}

.p-form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 51px;
  font-family: "Zen Old Mincho";
}
@media screen and (max-width: 768px) {
  .p-form__item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 32px;
  }
}

.p-form .p-form__item:nth-of-type(6) {
  margin-bottom: 46px;
}
@media screen and (max-width: 768px) {
  .p-form .p-form__item:nth-of-type(6) {
    margin-bottom: 24px;
  }
}

.p-form__item-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .p-form__item-radio {
    margin-bottom: 29px;
  }
}

.p-form__radio-wrapper,
.p-form__select-wrapper {
  width: 78.75%;
  font-size: 1.8rem;
}

.p-form__select-wrapper {
  position: relative;
}
@media screen and (max-width: 768px) {
  .p-form__select-wrapper {
    width: 100%;
    padding: 5px 0;
  }
}

.p-form__select-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 19px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  width: 20px;
  height: 16px;
  background-color: #530700;
  -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
          clip-path: polygon(0 0, 50% 100%, 100% 0);
  pointer-events: none;
}

.p-form__item__textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .p-form__item__textarea {
    gap: 0;
  }
}

.p-radio__input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.p-radio__label {
  position: relative;
  display: inline-block;
  padding-left: 41px;
  margin-right: 52px;
  margin-bottom: 2px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .p-radio__label {
    margin-right: 0;
    padding-left: 35px;
  }
}

.p-radio__label02 {
  position: relative;
  display: inline-block;
  padding-left: 41px;
  margin-right: 52px;
  margin-bottom: 2px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .p-radio__label02 {
    margin-right: 0;
    padding-left: 47px;
  }
}

.p-radio__span {
  font-size: 1.8rem;
  font-family: "Zen Old Mincho";
}

.p-radio__span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
}

.p-radio__input:checked + .p-radio__span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 7px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #000;
}

.p-radio__input:focus + .p-radio__span::before {
  outline: 2px solid #3498db;
}

.p-checkbox__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0; /* 3.125% */
  padding: 5px 0 0 0;
}
@media screen and (max-width: 768px) {
  .p-checkbox__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: first baseline;
        -ms-flex-pack: first baseline;
            justify-content: first baseline;
    gap: 0;
  }
}

.p-checkbox__input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.p-checkbox__label {
  position: relative;
  display: inline-block;
  width: 200px;
  padding-left: 40px;
  margin-bottom: 5px;
  font-size: clamp(1.6rem, 0.64vw + 1.11rem, 1.8rem);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .p-checkbox__label {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    padding-left: 30px;
    font-size: 1.6rem;
    line-height: 1.5625;
  }
}

.p-checkbox__span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
}

.p-checkbox__input:checked + .p-checkbox__span::before {
  border-color: #3498db;
}

.p-checkbox__input:checked + .p-checkbox__span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 8px;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  display: block;
  width: 5px;
  height: 10px;
  border: solid #000;
  border-width: 0 2px 2px 0;
}

.p-checkbox__input:focus + .p-checkbox__span::before {
  outline: 2px solid #3498db;
}

.p-button__submit {
  display: block;
  width: 300px;
  max-width: 100%;
  margin-inline: auto;
  padding: 10px 20px;
  background-color: #530700;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.65;
  text-align: center;
  border: 1px solid #530700;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media screen and (max-width: 768px) {
  .p-button__submit {
    width: 315px;
  }
}

.p-button__submit:hover {
  background-color: #fff;
  color: #530700;
}

.p-button__pagetop {
  position: fixed;
  right: 60px;
  bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
  height: 70px;
  background: #530700;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  .p-button__pagetop {
    right: 30px;
    bottom: 30px;
  }
}

.p-button__icon {
  width: 25px;
}

.p-sns__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-bottom: 80px;
}
@media screen and (max-width: 768px) {
  .p-sns__list {
    margin-bottom: 50px;
  }
}

.p-sns__item {
  width: 28px;
}

.c-title {
  text-align: center;
}

.c-title-ja {
  display: block;
  color: #530700;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.1;
}

.c-title-en {
  display: block;
  color: #000;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.65;
}

.c-title__reservation-text-ja {
  color: #530700;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.3em;
}
@media screen and (max-width: 768px) {
  .c-title__reservation-text-ja {
    letter-spacing: 0em;
  }
}

.c-title__reservation-text-en {
  color: #000;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.65;
  letter-spacing: 0.3em;
}
@media screen and (max-width: 768px) {
  .c-title__reservation-text-en {
    letter-spacing: 0.2em;
  }
}

.c-label {
  font-size: clamp(1.6rem, 1.28vw + 0.62rem, 2rem);
  font-weight: 500;
  line-height: 1.65;
}
@media screen and (max-width: 768px) {
  .c-label {
    font-size: 2rem;
  }
}

.c-input {
  width: 78.75%;
  padding: 15px 20px;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .c-input {
    width: 100%;
  }
}

.c-select {
  width: 100%;
  padding: 15px 20px;
  font-weight: 500;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .c-select {
    padding: 9px 20px;
  }
}

.c-textarea {
  width: 100%;
  height: 200px;
  margin-bottom: 50px;
  padding: 15px 20px;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .c-textarea {
    margin-bottom: 30px;
  }
}

.c-textarea-privacy {
  width: 100%;
  height: 307px;
  margin-bottom: 80px;
  padding: 50px 60px 40px 40px;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.7222222222;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .c-textarea-privacy {
    height: 320px;
    margin-bottom: 50px;
    padding: 30px 60px 30px 30px;
    font-size: 1.6rem;
    line-height: 2.0625;
  }
}

.u-background-color {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.u-background {
  width: 50%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgb(83, 7, 0)), to(rgba(83, 7, 0, 0)));
  background: linear-gradient(to right, rgb(83, 7, 0), rgba(83, 7, 0, 0));
}
@media screen and (max-width: 768px) {
  .u-background {
    width: 0;
  }
}

@media screen and (max-width: 768px) {
  .u-pc-only {
    display: none;
  }
}

.u-sp-only {
  display: none;
}
@media screen and (max-width: 768px) {
  .u-sp-only {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */