@use "../../global/forward" as fw;

.u-padding__catchphrase {
    padding: 130px 0;
    @include fw.mq(tab) {
        padding: 60px 0;
    }
}

.u-padding {
    padding: 80px 0;
    @include fw.mq(tab) {
        padding: 50px 0;
    }
}

.u-padding__recommendation__text-box {
    padding-top: 50px;
    @include fw.mq(tab) {
        padding: 20px;
    }
}